@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorph {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(32, 34, 38, 0.75);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.125); */
}

.no-glassmorph {
  background: none;
  box-shadow: none;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
  border: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.markdown-container > h1,
.markdown-container > h2,
.markdown-container > h3,
.markdown-container > p,
.markdown-container strong,
.markdown-container blockquote,
.prose a {
  @apply text-secondary antialiased;
}

.markdown-container figure {
  @apply aspect-video mx-auto;
}

.markdown-container blockquote {
  @apply border-l-4 border-tertiary ;
}
.prose > pre, .prose-lg > pre, .md\:prose-lg > pre{
  @apply bg-primary;
  padding: 0 !important;
}

.prose pre > pre, .prose-lg pre > pre{
  margin: 0 !important;
  @apply md:m-0 m-0;
}
